# 1. Introduction

The main purpose of this notebook is to compare ways to open and process standard .csv files on your local machine.

We have 2 documents which we will open, inspect and transform with three different methods available in Python:

- [__Pandas__](https://pandas.pydata.org/),
- [__Dask__](https://dask.org/),
- [__PySpark__](https://spark.apache.org/).



So initially, let's import basic libraries:

In [1]:
from os import path
import pandas as pd

Now let's see the volume of out data:

In [2]:
medium_file = path.expanduser("./data/raw/Crimes.csv")
big_file = path.expanduser("./data/raw/Vehicles.csv")

file_list = {"Crimes" : medium_file, 
             "Vehicles" : big_file,
            }

for  key, value in file_list.items():
    print(f"{key} file size: {path.getsize(value) >> 20:.2f} MB")

Crimes file size: 1725.00 MB
Vehicles file size: 4814.00 MB

## 2. Pandas

We will start with loading files into DataFrames with __Pandas__ -><br>
an open source library providing high-performance, easy-to-use data structures and data analytics tool for the Python programming language.

#### 2.1. Medium DataFrame

##### Read data:

In [3]:
%%time
medium_df = pd.read_csv(medium_file)

Wall time: 43.4 s

##### Show last 2 rows:

In [4]:
%%time
medium_df.tail(2)

Wall time: 0 ns

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
6877120,1392468,G106773,01/01/2001 12:00:00 AM,023XX W HURON ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,RESIDENCE,False,False,...,-87.686272,"(41.893824874, -87.686272003)",24.0,21184.0,25.0,546.0,41.0,28.0,15.0,80.0
6877121,1310313,G000070,01/01/2001 12:00:00 AM,109XX S LONGWOOD DR,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,...,-87.671448,"(41.694977232, -87.671447845)",33.0,22212.0,74.0,380.0,42.0,13.0,9.0,257.0

##### Number of rows, columns:

In [5]:
%%time
medium_df.shape

Wall time: 0 ns

(6877122, 30)

##### Basic statistics:

In [6]:
%%time
medium_df.describe()

Wall time: 8.47 s

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
count,6.877122e+06,6.877122e+06,6.877075e+06,6.262298e+06,6.263626e+06,6.811932e+06,6.811932e+06,6.877122e+06,6.811932e+06,6.811932e+06,6.792140e+06,6.811932e+06,6.794854e+06,6.797012e+06,6.794966e+06,6.794901e+06,6.795930e+06,6.795953e+06
mean,6.326030e+06,1.190924e+03,1.130045e+01,2.269056e+01,3.757498e+01,1.164523e+06,1.885727e+06,2.008515e+03,4.184203e+01,-8.767178e+01,2.738247e+01,1.910871e+04,3.872460e+01,3.813732e+02,2.553626e+01,3.146023e+01,1.491913e+01,1.505174e+02
std,3.097822e+06,7.032927e+02,6.945665e+00,1.383333e+01,2.153849e+01,1.715558e+04,3.268663e+04,5.157344e+00,8.994461e-02,6.208706e-02,1.526851e+01,5.736594e+03,2.009641e+01,2.300487e+02,1.477743e+01,1.914224e+01,6.453640e+00,7.850072e+01
min,6.340000e+02,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01,1.000000e+00,2.733000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,3.467769e+06,6.220000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152936e+06,1.859189e+06,2.004000e+03,4.176891e+01,-8.771385e+01,1.400000e+01,2.118400e+04,2.500000e+01,1.760000e+02,1.200000e+01,1.500000e+01,1.000000e+01,8.300000e+01
50%,6.310243e+06,1.111000e+03,1.000000e+01,2.200000e+01,3.200000e+01,1.166001e+06,1.890614e+06,2.008000e+03,4.185551e+01,-8.766615e+01,2.700000e+01,2.156000e+04,3.700000e+01,3.780000e+02,2.600000e+01,3.000000e+01,1.600000e+01,1.530000e+02
75%,9.000136e+06,1.731000e+03,1.700000e+01,3.400000e+01,5.700000e+01,1.176352e+06,1.909288e+06,2.013000e+03,4.190682e+01,-8.762835e+01,4.100000e+01,2.224300e+04,5.800000e+01,5.770000e+02,3.700000e+01,5.000000e+01,2.000000e+01,2.210000e+02
max,1.170139e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.019000e+03,4.202291e+01,-8.752453e+01,5.300000e+01,2.691200e+04,7.700000e+01,8.010000e+02,5.000000e+01,6.100000e+01,2.500000e+01,2.770000e+02

##### Conditinal statements:

In [7]:
%%time
medium_df.loc[(medium_df["Community Areas"] > 50) & (medium_df["Boundaries - ZIP Codes"] < 60) & (medium_df["Description"] == "AUTOMOBILE")].head(2)

Wall time: 692 ms

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
214,11694283,JC271784,05/20/2019 06:00:00 PM,009XX W DIVERSEY PKWY,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,RESIDENCE,False,False,...,-87.651911,"(41.932671001, -87.651910528)",38.0,21190.0,57.0,681.0,25.0,22.0,5.0,31.0
651,11693300,JC270665,05/20/2019 04:00:00 AM,071XX S GREEN ST,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,-87.645607,"(41.764525607, -87.645606586)",31.0,21559.0,66.0,512.0,32.0,11.0,17.0,215.0

##### Aggregations:

In [8]:
%%time
medium_df.groupby("Police Districts").agg("count").head(5)

Wall time: 5.27 s

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Beats
Police Districts,,,,,,,,,,,,,,,,,,,,,
1.0,197490,197490,197490,197490,197490,197490,197490,197369,197490,197490,...,197490,197490,197490,197489,197490,197489,197453,197489,197489,197490
2.0,119541,119540,119541,119541,119541,119541,119541,119393,119541,119541,...,119541,119541,119541,119541,119541,119541,119541,119541,119541,119541
3.0,41,41,41,41,41,41,41,41,41,41,...,41,41,41,41,41,0,41,2,41,41
4.0,1453,1453,1453,1453,1453,1453,1453,1453,1453,1453,...,1453,1453,1453,1453,1453,0,505,0,6,1453
5.0,304851,304851,304851,304851,304851,304851,304851,304326,304851,304851,...,304851,304851,304851,304851,304851,304851,304851,304851,304851,304851

We need to clear memory space from all the variables to prevent us from out of memory error.<br>
Then import requred libraries and create variables once more.

In [9]:
%reset -f

#### 2.2. Big DataFrame:

In the largest dataset we will have to turn __low_memory__ to __False__ to proceed with the operation<br>
(DtypeWarning associated with column types would arrise).

In [10]:
from os import path
import pandas as pd

big_file = path.expanduser("./data/raw/Vehicles.csv")

##### Read data:

In [11]:
%%time
big_df = pd.read_csv(big_file,
                     low_memory=False)

Wall time: 9min 18s

It looks like our local computer can handle the big files > 4GB, but it's quite time consuming taks comparing to processing<br>
and it looks like it is taking the most of time in our comparison.

##### Show last 2 rows:

In [12]:
%%time
big_df.tail(2)

Wall time: 8.97 ms

,Unnamed: 0,pojazd_id,marka,kategoria,typ,model,wariant,wersja,rodzaj,podrodzaj,...,siedziba_wlasciciela_woj,siedziba_wlasciciela_pow,siedziba_wlasciciela_gmina,data_pierwszej_rej_w_kraju,createtimestamp,modifytimestamp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
13063685,6753092,80800114204160,CITROEN,NaN,NaN,XANTIA,NaN,NaN,SAMOCHÓD OSOBOWY,KOMBI,...,MAZOWIECKIE,LEGIONOWSKI,JABŁONNA,1999-07-28,2019-03-15,2019-03-15,14.0,14,NaN,NaN
13063686,6753093,32820186672840,TOYOTA,13.0,NaN,YARIS,NaN,NaN,SAMOCHÓD OSOBOWY,WIELOZADANIOWY,...,MAZOWIECKIE,WARSZAWSKI ZACHODNI,STARE BABICE,2013-10-29,2019-03-15,2019-03-15,14.0,14,104.0,NaN

##### Number of rows, columns:

In [13]:
%%time
big_df.shape

Wall time: 0 ns

(13063687, 72)

##### Basic statistics:

In [14]:
%%time
big_df.describe()

Wall time: 31.7 s

,Unnamed: 0,pojazd_id,kategoria,pojemnosc_silnika,moc_do_masy,moc_silnika,moc_silnika_hybrydowego,masa_wlasna,masa_pgj,dopuszczalna_masa_calkowita,...,rozstaw_kol_max,rozstaw_kol_sred,rozstaw_kol_min,emisja_co2_redukcja,wersja_rpp,kod_rpp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
count,1.306369e+07,1.306369e+07,4.276366e+06,1.207401e+07,1.128423e+06,9.831770e+06,12678.000000,1.251682e+07,24215.000000,1.252575e+07,...,1.365783e+06,1.365972e+06,1.366715e+06,24.000000,7.951085e+06,7.951085e+06,9.811910e+06,1.306369e+07,1.896983e+06,941.000000
mean,2.514995e+06,3.652309e+14,1.270004e+13,1.912105e+03,5.682439e-02,7.077183e+01,57.085567,1.434540e+03,2145.469131,2.809068e+03,...,1.380414e+03,1.549918e+03,1.387077e+03,15.458333,6.874341e+00,1.145851e+05,1.270523e+01,1.259851e+01,1.357897e+02,138.123273
std,1.784089e+06,1.335397e+15,3.561448e+14,1.941930e+03,1.198505e+00,6.874270e+01,34.860855,1.855161e+03,3409.945596,5.280302e+03,...,3.644857e+03,2.298855e+04,7.568882e+03,34.118692,3.533673e+00,2.393647e+05,2.371407e+00,1.606318e+00,1.026126e+02,16.823227
min,0.000000e+00,2.233634e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.900000,0.000000e+00,1.000000,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,4.000000,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+01,0.000000e+00,96.000000
25%,1.088640e+06,2.689965e+13,1.300000e+01,1.229000e+03,0.000000e+00,4.000000e+01,45.000000,7.700000e+02,1205.000000,1.336000e+03,...,1.478000e+03,1.467000e+03,1.468000e+03,5.000000,1.000000e+00,3.000000e+00,1.200000e+01,1.200000e+01,1.180000e+02,131.000000
50%,2.177281e+06,5.377746e+13,1.300000e+01,1.596000e+03,1.420000e-02,6.600000e+01,53.000000,1.159000e+03,1445.000000,1.690000e+03,...,1.536000e+03,1.529000e+03,1.525000e+03,5.000000,9.000000e+00,3.000000e+00,1.400000e+01,1.400000e+01,1.350000e+02,132.000000
75%,3.487172e+06,8.064325e+13,1.111111e+07,1.994000e+03,3.870000e-02,9.200000e+01,60.000000,1.500000e+03,1885.000000,2.105000e+03,...,1.574000e+03,1.567000e+03,1.562000e+03,6.000000,9.000000e+00,2.010000e+05,1.400000e+01,1.400000e+01,1.540000e+02,155.000000
max,6.753093e+06,9.007160e+15,1.000000e+16,9.997300e+04,8.900000e+02,1.290200e+04,999.000000,9.119400e+05,105535.000000,9.209200e+05,...,2.589258e+06,8.961559e+06,5.025828e+06,132.000000,9.000000e+00,1.699000e+06,7.300000e+01,1.400000e+01,1.210670e+05,163.000000

##### Conditinal statements:

In [15]:
%%time
big_df.loc[((big_df["marka"] == "TOYOTA") | (big_df["marka"] == "FORD")) &  (big_df["emisja_co2"] < 100)].head(2)

Wall time: 2.24 s

,Unnamed: 0,pojazd_id,marka,kategoria,typ,model,wariant,wersja,rodzaj,podrodzaj,...,siedziba_wlasciciela_woj,siedziba_wlasciciela_pow,siedziba_wlasciciela_gmina,data_pierwszej_rej_w_kraju,createtimestamp,modifytimestamp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
868,868,51955064994346,TOYOTA,13.0,XW3(A),PRIUS,ZVW30(H),ZVW30L-AHXEBW(2C),SAMOCHÓD OSOBOWY,HATCHBACK,...,ŁÓDZKIE,ŁÓDŹ,ŁÓDŹ,2012-01-13,2019-03-15,2019-03-15,10.0,10,89.0,NaN
1620,1620,4125588963370607,TOYOTA,13.0,XP13M(A),YARIS,KSP13(MH),KSP130L-CHMRKW(3L),SAMOCHÓD OSOBOWY,WIELOZADANIOWY,...,NaN,NaN,NaN,2018-05-29,2019-03-15,2019-03-15,NaN,10,99.0,NaN

##### Aggregations:

In [16]:
%%time
big_df.groupby("rodzaj").agg("count").head(5)

Wall time: 44.8 s

,Unnamed: 0,pojazd_id,marka,kategoria,typ,model,wariant,wersja,podrodzaj,przeznaczenie,...,siedziba_wlasciciela_woj,siedziba_wlasciciela_pow,siedziba_wlasciciela_gmina,data_pierwszej_rej_w_kraju,createtimestamp,modifytimestamp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
rodzaj,,,,,,,,,,,,,,,,,,,,,
AUTOBUS,52082,52082,51424,15830,29143,50963,29158,29158,52027,49195,...,38182,38499,38345,52014,52082,52082,38182,52082,1586,0
AUTOBUSY,3,3,3,0,0,3,0,0,3,0,...,3,3,3,1,3,3,3,3,0,0
BRAK DANYCH,3,3,3,1,0,1,0,0,3,3,...,3,3,3,3,3,3,3,3,0,0
CIAGN. ROLNICZY.,1,1,1,0,0,1,0,0,1,0,...,1,1,1,1,1,1,1,1,0,0
CIAGN. SAMOCHOD.,2,2,2,0,0,2,0,0,2,0,...,2,2,2,2,2,2,2,2,0,0

In [17]:
%reset -f

# 3. Dask

Now we will do the same operations using Dask ->  a library for parallel computing in Python.

#### 3.1. Medium DataFrame:

In [18]:
from os import path
import dask.dataframe as dd

medium_file = path.expanduser("./data/raw/Crimes.csv")

##### Read data:

In [19]:
%%time
medium_dd = dd.read_csv(medium_file,
                        assume_missing=True,
                        )

Wall time: 67.8 ms

Creating the DataFrames went a lot faster than expected that may be surprising, however we have to remember that Dask works based<br>
on principle of __lazy evaluation__ thus we should expect that -> to compute the value of a function, we have to use __.compute()__ method.<br>
It will compute the results parallely in blocks, parallelizing every independent task at that time.

Still let's check the timing of the basic tasks we already defined above for our DataFrames.

##### Show last 2 rows:

In [20]:
%%time
medium_dd.tail(2)

Wall time: 527 ms

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
67808,1392468.0,G106773,01/01/2001 12:00:00 AM,023XX W HURON ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,RESIDENCE,False,False,...,-87.686272,"(41.893824874, -87.686272003)",24.0,21184.0,25.0,546.0,41.0,28.0,15.0,80.0
67809,1310313.0,G000070,01/01/2001 12:00:00 AM,109XX S LONGWOOD DR,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,...,-87.671448,"(41.694977232, -87.671447845)",33.0,22212.0,74.0,380.0,42.0,13.0,9.0,257.0

##### Number of rows, columns:

In [21]:
%%time
print(f"shape: ({len(medium_dd)}, {len(medium_dd.columns)})")

shape: (6877122, 30)
Wall time: 25.8 s

##### Basic statistics:

In [22]:
%%time
medium_dd.describe().compute()

Wall time: 1min 36s

,ID,Arrest,Domestic,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
count,6.877122e+06,6.877122e+06,6.877122e+06,6.877122e+06,6.877075e+06,6.262298e+06,6.263626e+06,6.811932e+06,6.811932e+06,6.877122e+06,6.811932e+06,6.811932e+06,6.792140e+06,6.811932e+06,6.794854e+06,6.797012e+06,6.794966e+06,6.794901e+06,6.795930e+06,6.795953e+06
mean,6.326030e+06,2.762272e-01,1.318600e-01,1.190924e+03,1.130045e+01,2.269056e+01,3.757498e+01,1.164523e+06,1.885727e+06,2.008515e+03,4.184203e+01,-8.767178e+01,2.738247e+01,1.910871e+04,3.872460e+01,3.813732e+02,2.553626e+01,3.146023e+01,1.491913e+01,1.505174e+02
std,3.097822e+06,4.471306e-01,3.383385e-01,7.032927e+02,6.945665e+00,1.383333e+01,2.153849e+01,1.715558e+04,3.268663e+04,5.157344e+00,8.994461e-02,6.208706e-02,1.526851e+01,5.736594e+03,2.009641e+01,2.300487e+02,1.477743e+01,1.914224e+01,6.453640e+00,7.850072e+01
min,6.340000e+02,0.000000e+00,0.000000e+00,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01,1.000000e+00,2.733000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,4.274221e+06,0.000000e+00,0.000000e+00,6.310000e+02,6.000000e+00,1.500000e+01,2.600000e+01,1.153612e+06,1.861556e+06,2.005000e+03,4.177552e+01,-8.771130e+01,1.500000e+01,2.118600e+04,2.500000e+01,1.840000e+02,1.300000e+01,1.600000e+01,1.000000e+01,8.500000e+01
50%,7.994002e+06,0.000000e+00,0.000000e+00,1.123000e+03,1.000000e+01,2.400000e+01,5.200000e+01,1.166922e+06,1.894366e+06,2.011000e+03,4.186585e+01,-8.766321e+01,2.800000e+01,2.156900e+04,3.700000e+01,3.820000e+02,2.700000e+01,3.000000e+01,1.600000e+01,1.570000e+02
75%,1.160407e+07,1.000000e+00,0.000000e+00,1.823000e+03,1.700000e+01,3.500000e+01,7.600000e+01,1.176547e+06,1.910536e+06,2.019000e+03,4.191032e+01,-8.762772e+01,4.100000e+01,2.224800e+04,5.900000e+01,5.800000e+02,3.900000e+01,5.200000e+01,2.000000e+01,2.240000e+02
max,1.170139e+07,1.000000e+00,1.000000e+00,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.019000e+03,4.202291e+01,-8.752453e+01,5.300000e+01,2.691200e+04,7.700000e+01,8.010000e+02,5.000000e+01,6.100000e+01,2.500000e+01,2.770000e+02

##### Conditinal statements:

In [23]:
%%time
medium_dd.loc[(medium_dd["Community Areas"] > 50) & (medium_dd["Boundaries - ZIP Codes"] < 60) & (medium_dd["Description"] == "AUTOMOBILE")].head(2)

Wall time: 1.6 s

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
214,11694283.0,JC271784,05/20/2019 06:00:00 PM,009XX W DIVERSEY PKWY,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,RESIDENCE,False,False,...,-87.651911,"(41.932671001, -87.651910528)",38.0,21190.0,57.0,681.0,25.0,22.0,5.0,31.0
651,11693300.0,JC270665,05/20/2019 04:00:00 AM,071XX S GREEN ST,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,-87.645607,"(41.764525607, -87.645606586)",31.0,21559.0,66.0,512.0,32.0,11.0,17.0,215.0

##### Aggregations:

In [24]:
%%time
medium_dd.groupby("Police Districts").agg("count").head(5)

Wall time: 30 s

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Beats
Police Districts,,,,,,,,,,,,,,,,,,,,,
1.0,197490,197490,197490,197490,197490,197490,197490,197369,197490,197490,...,197490,197490,197490,197489,197490,197489,197453,197489,197489,197490
2.0,119541,119540,119541,119541,119541,119541,119541,119393,119541,119541,...,119541,119541,119541,119541,119541,119541,119541,119541,119541,119541
3.0,41,41,41,41,41,41,41,41,41,41,...,41,41,41,41,41,0,41,2,41,41
4.0,1453,1453,1453,1453,1453,1453,1453,1453,1453,1453,...,1453,1453,1453,1453,1453,0,505,0,6,1453
5.0,304851,304851,304851,304851,304851,304851,304851,304326,304851,304851,...,304851,304851,304851,304851,304851,304851,304851,304851,304851,304851

In [25]:
%reset -f

#### 3.2. Big DataFrame:

In [26]:
from os import path
import dask.dataframe as dd

big_file = path.expanduser("./data/raw/Vehicles.csv")

##### Read data:

In [27]:
%%time
big_dd = dd.read_csv(big_file,
                     assume_missing=True, # 
                     dtype={'rok_produkcji': 'object'}, # set due to dask's dtype inference failing
                     low_memory=False, # columns have mixed types and Dask gives us warning,
                     )

Wall time: 166 ms

##### Show last 2 rows:

In [28]:
%%time
big_dd.tail(2)

Wall time: 1.96 s

,Unnamed: 0,pojazd_id,marka,kategoria,typ,model,wariant,wersja,rodzaj,podrodzaj,...,siedziba_wlasciciela_woj,siedziba_wlasciciela_pow,siedziba_wlasciciela_gmina,data_pierwszej_rej_w_kraju,createtimestamp,modifytimestamp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
149139,6753092.0,8.080011e+13,CITROEN,NaN,NaN,XANTIA,NaN,NaN,SAMOCHÓD OSOBOWY,KOMBI,...,MAZOWIECKIE,LEGIONOWSKI,JABŁONNA,1999-07-28,2019-03-15,2019-03-15,14.0,14.0,NaN,NaN
149140,6753093.0,3.282019e+13,TOYOTA,13.0,NaN,YARIS,NaN,NaN,SAMOCHÓD OSOBOWY,WIELOZADANIOWY,...,MAZOWIECKIE,WARSZAWSKI ZACHODNI,STARE BABICE,2013-10-29,2019-03-15,2019-03-15,14.0,14.0,104.0,NaN

##### Number of rows, columns:

In [29]:
%%time
print(f"shape: ({len(big_dd)}, {len(big_dd.columns)})")

shape: (13063687, 72)
Wall time: 1min 45s

##### Basic statistics:

In [30]:
%%time
big_dd.describe().compute()

ValueError: No non-trivial arrays found

At the time doing the analysis it seems that dask have a bug in the method we used,<br>
So we need to wait for it to be fixed (https://github.com/dask/dask/issues/2792).

##### Conditinal statements:

In [31]:
%%time
big_dd.loc[((big_dd["marka"] == "TOYOTA") | (big_dd["marka"] == "FORD")) &  (big_dd["emisja_co2"] < 100)].head(2)

Wall time: 2.46 s

,Unnamed: 0,pojazd_id,marka,kategoria,typ,model,wariant,wersja,rodzaj,podrodzaj,...,siedziba_wlasciciela_woj,siedziba_wlasciciela_pow,siedziba_wlasciciela_gmina,data_pierwszej_rej_w_kraju,createtimestamp,modifytimestamp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
868,868.0,5.195506e+13,TOYOTA,13.0,XW3(A),PRIUS,ZVW30(H),ZVW30L-AHXEBW(2C),SAMOCHÓD OSOBOWY,HATCHBACK,...,ŁÓDZKIE,ŁÓDŹ,ŁÓDŹ,2012-01-13,2019-03-15,2019-03-15,10.0,10.0,89.0,NaN
1620,1620.0,4.125589e+15,TOYOTA,13.0,XP13M(A),YARIS,KSP13(MH),KSP130L-CHMRKW(3L),SAMOCHÓD OSOBOWY,WIELOZADANIOWY,...,NaN,NaN,NaN,2018-05-29,2019-03-15,2019-03-15,NaN,10.0,99.0,NaN

##### Aggregations:

In [32]:
%%time
big_dd.groupby("rodzaj").agg("count").head(5)

Wall time: 2min 1s

,Unnamed: 0,pojazd_id,marka,kategoria,typ,model,wariant,wersja,podrodzaj,przeznaczenie,...,siedziba_wlasciciela_woj,siedziba_wlasciciela_pow,siedziba_wlasciciela_gmina,data_pierwszej_rej_w_kraju,createtimestamp,modifytimestamp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
rodzaj,,,,,,,,,,,,,,,,,,,,,
AUTOBUS,52082,52082,51424,15830,29143,50963,29158,29158,52027,49195,...,38182,38499,38345,52014,52082,52082,38182,52082,1586,0
AUTOBUSY,3,3,3,0,0,3,0,0,3,0,...,3,3,3,1,3,3,3,3,0,0
BRAK DANYCH,3,3,3,1,0,1,0,0,3,3,...,3,3,3,3,3,3,3,3,0,0
CIAGN. ROLNICZY.,1,1,1,0,0,1,0,0,1,0,...,1,1,1,1,1,1,1,1,0,0
CIAGN. SAMOCHOD.,2,2,2,0,0,2,0,0,2,0,...,2,2,2,2,2,2,2,2,0,0

In [1]:
%reset -f

# 4. Spark

For the last excercies we will execute the same operations with Spark -> However it will not be on a cluster.

In [2]:
from os import path
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *
from pyspark.sql.functions import monotonically_increasing_id

In [3]:
medium_file = path.expanduser("./data/raw/Crimes.csv")

#### 4.1. Initialize Spark Session

In [4]:
%%time
session = SparkSession.builder.appName("traffic").master("local[*]").getOrCreate()
dataFrameReader = session.read

Wall time: 4.32 s

#### 4.2. Medium DataFrame

##### Read data:

In [5]:
%%time
medium_df = dataFrameReader.option("header","true").option("inferSchema",value=True).csv(medium_file)

Wall time: 12.5 s

##### Show first 2 rows:

Spark doesn't have a tail function so to achieve that we will have to make a trick.<br>
Let's start from just checking .head() of the dataframe.

In [6]:
%%time
medium_df.head(2)

Wall time: 464 ms

[Row(ID=11694147, Case Number='JC271632', Date='05/20/2019 11:59:00 PM', Block='078XX S LAFLIN ST', IUCR='0486', Primary Type='BATTERY', Description='DOMESTIC BATTERY SIMPLE', Location Description='APARTMENT', Arrest=False, Domestic=True, Beat=612, District=6, Ward=17, Community Area=71, FBI Code='08B', X Coordinate=1167474, Y Coordinate=1852808, Year=2019, Updated On='05/27/2019 04:12:56 PM', Latitude=41.751652164, Longitude=-87.661857961, Location='(41.751652164, -87.661857961)', Historical Wards 2003-2015=17, Zip Codes=21554, Community Areas=70, Census Tracts=557, Wards=31, Boundaries - ZIP Codes=59, Police Districts=20, Police Beats=230),
 Row(ID=11694159, Case Number='JC271636', Date='05/20/2019 11:55:00 PM', Block='067XX S EBERHART AVE', IUCR='143A', Primary Type='WEAPONS VIOLATION', Description='UNLAWFUL POSS OF HANDGUN', Location Description='RESIDENCE', Arrest=False, Domestic=False, Beat=321, District=3, Ward=20, Community Area=42, FBI Code='15', X Coordinate=1180739, Y Coordinate=1860451, Year=2019, Updated On='05/27/2019 04:12:56 PM', Latitude=41.772330991, Longitude=-87.613013719, Location='(41.772330991, -87.613013719)', Historical Wards 2003-2015=53, Zip Codes=22260, Community Areas=9, Census Tracts=348, Wards=4, Boundaries - ZIP Codes=60, Police Districts=18, Police Beats=206)]

##### Show last 2 rows:

To show the last rows of the dataframe we need to sort it.<br>
However we don't have a nice incremental index column so we need to create it before sorting.

In [7]:
%%time
medium_df = medium_df.withColumn("index", monotonically_increasing_id())
print(medium_df.sort(medium_df['index'].desc()).head(10))

[Row(ID=1310313, Case Number='G000070', Date='01/01/2001 12:00:00 AM', Block='109XX S LONGWOOD DR', IUCR='1310', Primary Type='CRIMINAL DAMAGE', Description='TO PROPERTY', Location Description='APARTMENT', Arrest=False, Domestic=False, Beat=2212, District=22, Ward=None, Community Area=None, FBI Code='14', X Coordinate=1165016, Y Coordinate=1832136, Year=2001, Updated On='08/17/2015 03:03:40 PM', Latitude=41.694977232, Longitude=-87.671447845, Location='(41.694977232, -87.671447845)', Historical Wards 2003-2015=33, Zip Codes=22212, Community Areas=74, Census Tracts=380, Wards=42, Boundaries - ZIP Codes=13, Police Districts=9, Police Beats=257, index=111669401745), Row(ID=1392468, Case Number='G106773', Date='01/01/2001 12:00:00 AM', Block='023XX W HURON ST', IUCR='1210', Primary Type='DECEPTIVE PRACTICE', Description='THEFT OF LABOR/SERVICES', Location Description='RESIDENCE', Arrest=False, Domestic=False, Beat=1313, District=12, Ward=None, Community Area=None, FBI Code='11', X Coordinate=1160422, Y Coordinate=1904564, Year=2001, Updated On='08/17/2015 03:03:40 PM', Latitude=41.893824874, Longitude=-87.686272003, Location='(41.893824874, -87.686272003)', Historical Wards 2003-2015=24, Zip Codes=21184, Community Areas=25, Census Tracts=546, Wards=41, Boundaries - ZIP Codes=28, Police Districts=15, Police Beats=80, index=111669401744), Row(ID=1353509, Case Number='G057402', Date='01/01/2001 12:00:00 AM', Block='034XX W ADAMS ST', IUCR='1150', Primary Type='DECEPTIVE PRACTICE', Description='CREDIT CARD FRAUD', Location Description='RESIDENCE', Arrest=False, Domestic=False, Beat=1123, District=11, Ward=None, Community Area=None, FBI Code='11', X Coordinate=1153613, Y Coordinate=1898824, Year=2001, Updated On='08/17/2015 03:03:40 PM', Latitude=41.87821192, Longitude=-87.711432075, Location='(41.87821192, -87.711432075)', Historical Wards 2003-2015=11, Zip Codes=21572, Community Areas=28, Census Tracts=783, Wards=23, Boundaries - ZIP Codes=30, Police Districts=16, Police Beats=86, index=111669401743), Row(ID=1311905, Case Number='G002603', Date='01/01/2001 12:00:00 AM', Block='058XX S CARPENTER ST', IUCR='1130', Primary Type='DECEPTIVE PRACTICE', Description='FRAUD OR CONFIDENCE GAME', Location Description='RESIDENCE', Arrest=False, Domestic=False, Beat=712, District=7, Ward=None, Community Area=None, FBI Code='11', X Coordinate=1170355, Y Coordinate=1865979, Year=2001, Updated On='08/17/2015 03:03:40 PM', Latitude=41.787732833, Longitude=-87.650917495, Location='(41.787732833, -87.650917495)', Historical Wards 2003-2015=19, Zip Codes=21559, Community Areas=66, Census Tracts=409, Wards=2, Boundaries - ZIP Codes=11, Police Districts=17, Police Beats=261, index=111669401742), Row(ID=1370284, Case Number='G074254', Date='01/01/2001 12:00:00 AM', Block='003XX N MASON AV', IUCR='0820', Primary Type='THEFT', Description='$500 AND UNDER', Location Description='PARKING LOT/GARAGE(NON.RESID.)', Arrest=False, Domestic=False, Beat=1512, District=15, Ward=None, Community Area=None, FBI Code='06', X Coordinate=1136750, Y Coordinate=1901645, Year=2001, Updated On='08/17/2015 03:03:40 PM', Latitude=41.886271732, Longitude=-87.773282434, Location='(41.886271732, -87.773282434)', Historical Wards 2003-2015=52, Zip Codes=22216, Community Areas=26, Census Tracts=618, Wards=7, Boundaries - ZIP Codes=32, Police Districts=25, Police Beats=85, index=111669401741), Row(ID=1322043, Case Number='G003560', Date='01/01/2001 12:00:00 AM', Block='061XX S ARTESIAN AV', IUCR='1310', Primary Type='CRIMINAL DAMAGE', Description='TO PROPERTY', Location Description='RESIDENCE', Arrest=False, Domestic=False, Beat=825, District=8, Ward=None, Community Area=None, FBI Code='14', X Coordinate=1161130, Y Coordinate=1863925, Year=2001, Updated On='08/17/2015 03:03:40 PM', Latitude=41.782292325, Longitude=-87.684798685, Location='(41.782292325, -87.684798685)', Historical Wards 2003-2015=44, Zip Codes=21867, Community Areas=64, Census Tracts=111, Wards=2, Boundaries - ZIP Codes=58, Police Districts=13, Police Beats=274, index=111669401740), Row(ID=1320404, Case Number='G013841', Date='01/01/2001 12:00:00 AM', Block='019XX N HALSTED ST', IUCR='1310', Primary Type='CRIMINAL DAMAGE', Description='TO PROPERTY', Location Description='RESIDENCE', Arrest=False, Domestic=False, Beat=1813, District=18, Ward=None, Community Area=None, FBI Code='14', X Coordinate=1170614, Y Coordinate=1912940, Year=2001, Updated On='08/17/2015 03:03:40 PM', Latitude=41.916592082, Longitude=-87.648594807, Location='(41.916592082, -87.648594807)', Historical Wards 2003-2015=51, Zip Codes=21190, Community Areas=68, Census Tracts=168, Wards=34, Boundaries - ZIP Codes=16, Police Districts=14, Police Beats=189, index=111669401739), Row(ID=1448953, Case Number='G177802', Date='01/01/2001 12:00:00 AM', Block='010XX W GRANVILLE AV', IUCR='0560', Primary Type='ASSAULT', Description='SIMPLE', Location Description='APARTMENT', Arrest=False, Domestic=True, Beat=2433, District=24, Ward=None, Community Area=None, FBI Code='08A', X Coordinate=1168051, Y Coordinate=1941384, Year=2001, Updated On='08/17/2015 03:03:40 PM', Latitude=41.994699275, Longitude=-87.657186625, Location='(41.994699275, -87.657186625)', Historical Wards 2003-2015=40, Zip Codes=4451, Community Areas=76, Census Tracts=45, Wards=16, Boundaries - ZIP Codes=14, Police Districts=11, Police Beats=50, index=111669401738), Row(ID=1312432, Case Number='G003384', Date='01/01/2001 12:00:00 AM', Block='060XX S RHODES AV', IUCR='0820', Primary Type='THEFT', Description='$500 AND UNDER', Location Description='STREET', Arrest=False, Domestic=False, Beat=313, District=3, Ward=None, Community Area=None, FBI Code='06', X Coordinate=1180924, Y Coordinate=1864799, Year=2001, Updated On='08/17/2015 03:03:40 PM', Latitude=41.784258071, Longitude=-87.612201911, Location='(41.784258071, -87.612201911)', Historical Wards 2003-2015=53, Zip Codes=22260, Community Areas=9, Census Tracts=331, Wards=4, Boundaries - ZIP Codes=60, Police Districts=18, Police Beats=275, index=111669401737), Row(ID=1651806, Case Number='G437744', Date='01/01/2001 12:00:00 AM', Block='031XX N SEMINARY AV', IUCR='0841', Primary Type='THEFT', Description='FINANCIAL ID THEFT:$300 &UNDER', Location Description='RESIDENCE', Arrest=False, Domestic=False, Beat=1932, District=19, Ward=None, Community Area=None, FBI Code='06', X Coordinate=1168442, Y Coordinate=1920901, Year=2001, Updated On='08/17/2015 03:03:40 PM', Latitude=41.938484782, Longitude=-87.656343697, Location='(41.938484782, -87.656343697)', Historical Wards 2003-2015=38, Zip Codes=4449, Community Areas=57, Census Tracts=680, Wards=25, Boundaries - ZIP Codes=22, Police Districts=5, Police Beats=31, index=111669401736)]
Wall time: 27.2 s

We can see that this trick is not giving us the same values as tail function in pandas or dask.<br>
However we are not going to investigate it deeper because it's not the intention of this excercise.

##### Number of rows, columns:

In [8]:
%%time
medium_df.count(), len(medium_df.columns)

Wall time: 2.99 s

(6877122, 31)

##### Basic statistics:

In spark we can print data in vertical orientation that will improve readability commparing to default printing in spark.<br>
This functionality is implemented in newest version of Spark.

In [9]:
%%time
medium_df.describe().show(truncate=False, vertical=True)

-RECORD 0---------------------------------------------------
 summary                    | count
 ID                         | 6877122
 Case Number                | 6877118
 Date                       | 6877122
 Block                      | 6877122
 IUCR                       | 6877122
 Primary Type               | 6877122
 Description                | 6877122
 Location Description       | 6872099
 Beat                       | 6877122
 District                   | 6877075
 Ward                       | 6262298
 Community Area             | 6263626
 FBI Code                   | 6877122
 X Coordinate               | 6811932
 Y Coordinate               | 6811932
 Year                       | 6877122
 Updated On                 | 6877122
 Latitude                   | 6811932
 Longitude                  | 6811932
 Location                   | 6811932
 Historical Wards 2003-2015 | 6792140
 Zip Codes                  | 6811932
 Community Areas            | 6794854
 Census Tracts              | 6797012
 Wards                      | 6794966
 Boundaries - ZIP Codes     | 6794901
 Police Districts           | 6795930
 Police Beats               | 6795953
 index                      | 6877122
-RECORD 1---------------------------------------------------
 summary                    | mean
 ID                         | 6326029.788831869
 Case Number                | 305161.84210526315
 Date                       | null
 Block                      | null
 IUCR                       | 1128.0661944365472
 Primary Type               | null
 Description                | null
 Location Description       | null
 Beat                       | 1190.9241913986693
 District                   | 11.300450554923422
 Ward                       | 22.69055896094373
 Community Area             | 37.574984042789275
 FBI Code                   | 12.214498207964914
 X Coordinate               | 1164523.1932958227
 Y Coordinate               | 1885726.714861217
 Year                       | 2008.515077382661
 Updated On                 | null
 Latitude                   | 41.842030671182386
 Longitude                  | -87.67177850818778
 Location                   | null
 Historical Wards 2003-2015 | 27.382473565032523
 Zip Codes                  | 19108.70635848978
 Community Areas            | 38.72459776177678
 Census Tracts              | 381.3731956041861
 Wards                      | 25.53625772373254
 Boundaries - ZIP Codes     | 31.460232753942993
 Police Districts           | 14.919127036329098
 Police Beats               | 150.5174414831886
 index                      | 5.391552511660965E10
-RECORD 2---------------------------------------------------
 summary                    | stddev
 ID                         | 3097821.54222954
 Case Number                | 134932.50160327618
 Date                       | null
 Block                      | null
 IUCR                       | 812.021139347845
 Primary Type               | null
 Description                | null
 Location Description       | null
 Beat                       | 703.2927119242887
 District                   | 6.945664832965528
 Ward                       | 13.83332843548061
 Community Area             | 21.538490500634122
 FBI Code                   | 7.382682442780192
 X Coordinate               | 17155.5816436797
 Y Coordinate               | 32686.629719743047
 Year                       | 5.1573442405859335
 Updated On                 | null
 Latitude                   | 0.08994461001651277
 Longitude                  | 0.062087055522597384
 Location                   | null
 Historical Wards 2003-2015 | 15.26850559076917
 Zip Codes                  | 5736.594325234121
 Community Areas            | 20.09640663984347
 Census Tracts              | 230.04865413807565
 Wards                      | 14.777429081553155
 Boundaries - ZIP Codes     | 19.14224229023568
 Police Districts           | 6.453639940092455
 Police Beats               | 78.50071905241154
 index                      | 3.3539837976558685E10
-RECORD 3---------------------------------------------------
 summary                    | min
 ID                         | 634
 Case Number                | .JB299184
 Date                       | 01/01/2001 01:00:00 AM
 Block                      | 0000X E 100 PL
 IUCR                       | 0110
 Primary Type               | ARSON
 Description                | $300 AND UNDER
 Location Description       | "CTA ""L"" PLATFORM"
 Beat                       | 111
 District                   | 1
 Ward                       | 1
 Community Area             | 0
 FBI Code                   | 01A
 X Coordinate               | 0
 Y Coordinate               | 0
 Year                       | 2001
 Updated On                 | 01/01/2007 07:32:02 AM
 Latitude                   | 36.619446395
 Longitude                  | -91.686565684
 Location                   | (36.619446395, -91.686565684)
 Historical Wards 2003-2015 | 1
 Zip Codes                  | 2733
 Community Areas            | 1
 Census Tracts              | 1
 Wards                      | 1
 Boundaries - ZIP Codes     | 1
 Police Districts           | 1
 Police Beats               | 1
 index                      | 0
-RECORD 4---------------------------------------------------
 summary                    | max
 ID                         | 11701388
 Case Number                | ZZZ199957
 Date                       | 12/31/2018 12:55:00 AM
 Block                      | XX  UNKNOWN
 IUCR                       | 9901
 Primary Type               | WEAPONS VIOLATION
 Description                | WIREROOM/SPORTS
 Location Description       | YMCA
 Beat                       | 2535
 District                   | 31
 Ward                       | 50
 Community Area             | 77
 FBI Code                   | 26
 X Coordinate               | 1205119
 Y Coordinate               | 1951622
 Year                       | 2019
 Updated On                 | 12/31/2018 04:16:57 PM
 Latitude                   | 42.022910333
 Longitude                  | -87.524529378
 Location                   | (42.022910333, -87.677192004)
 Historical Wards 2003-2015 | 53
 Zip Codes                  | 26912
 Community Areas            | 77
 Census Tracts              | 801
 Wards                      | 50
 Boundaries - ZIP Codes     | 61
 Police Districts           | 25
 Police Beats               | 277
 index                      | 111669401745

Wall time: 1min 28s

##### Conditinal statements:

In [10]:
%%time
medium_df.filter(medium_df["Community Areas"] > 50).filter(medium_df["Boundaries - ZIP Codes"] < 60).filter(medium_df["Description"] == "AUTOMOBILE").show(2, truncate=False, vertical=True)

-RECORD 0---------------------------------------------------
 ID                         | 11694283
 Case Number                | JC271784
 Date                       | 05/20/2019 06:00:00 PM
 Block                      | 009XX W DIVERSEY PKWY
 IUCR                       | 0910
 Primary Type               | MOTOR VEHICLE THEFT
 Description                | AUTOMOBILE
 Location Description       | RESIDENCE
 Arrest                     | false
 Domestic                   | false
 Beat                       | 1935
 District                   | 19
 Ward                       | 43
 Community Area             | 7
 FBI Code                   | 07
 X Coordinate               | 1169665
 Y Coordinate               | 1918792
 Year                       | 2019
 Updated On                 | 05/27/2019 04:12:56 PM
 Latitude                   | 41.932671001
 Longitude                  | -87.651910528
 Location                   | (41.932671001, -87.651910528)
 Historical Wards 2003-2015 | 38
 Zip Codes                  | 21190
 Community Areas            | 57
 Census Tracts              | 681
 Wards                      | 25
 Boundaries - ZIP Codes     | 22
 Police Districts           | 5
 Police Beats               | 31
 index                      | 214
-RECORD 1---------------------------------------------------
 ID                         | 11693300
 Case Number                | JC270665
 Date                       | 05/20/2019 04:00:00 AM
 Block                      | 071XX S GREEN ST
 IUCR                       | 0910
 Primary Type               | MOTOR VEHICLE THEFT
 Description                | AUTOMOBILE
 Location Description       | STREET
 Arrest                     | false
 Domestic                   | false
 Beat                       | 733
 District                   | 7
 Ward                       | 6
 Community Area             | 68
 FBI Code                   | 07
 X Coordinate               | 1171871
 Y Coordinate               | 1857534
 Year                       | 2019
 Updated On                 | 05/27/2019 04:12:56 PM
 Latitude                   | 41.764525607
 Longitude                  | -87.645606586
 Location                   | (41.764525607, -87.645606586)
 Historical Wards 2003-2015 | 31
 Zip Codes                  | 21559
 Community Areas            | 66
 Census Tracts              | 512
 Wards                      | 32
 Boundaries - ZIP Codes     | 11
 Police Districts           | 17
 Police Beats               | 215
 index                      | 651
only showing top 2 rows

Wall time: 298 ms

##### Aggregations:

In [11]:
%%time
medium_df.groupby("Police Districts").agg(F.count("Police Districts")).show(5)

+----------------+-----------------------+
|Police Districts|count(Police Districts)|
+----------------+-----------------------+
|              12|                 220911|
|              22|                 272220|
|            null|                      0|
|               1|                 197490|
|              13|                 458507|
+----------------+-----------------------+
only showing top 5 rows

Wall time: 9.33 s

We need to clear memory space from all the variables, then import requred libraries and create variables once more.

In [12]:
%reset -f

#### 2.2. Big DataFrame:

In the largest dataset we will have to turn __low_memory__ to __False__ to proceed with the operation (DtypeWarning associated with column types would arrise).

In [1]:
from os import path
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *
from pyspark.sql.functions import monotonically_increasing_id

big_file = path.expanduser("./data/raw/Vehicles.csv")

In [2]:
%%time
session = SparkSession.builder.appName("traffic").master("local[*]").getOrCreate()
dataFrameReader = session.read

Wall time: 4.11 s

##### Read data:

In [3]:
%%time
big_df = dataFrameReader.option("header","true").option("inferSchema",value=True).csv(big_file)

Wall time: 1min 44s

It looks like our local computer can handle the big files > 4GB, but it's quite time consuming taks comparing to processing<br>
and it looks like it is taking the most of time in our comparison.

##### Show last 2 rows:

In [4]:
%%time
big_df.head(2)

Wall time: 313 ms

[Row(_c0=0, pojazd_id=6649493940242937, marka='MERCEDES-BENZ', kategoria=13.0, typ=None, model='C 220 D 4MATIC', wariant=None, wersja=None, rodzaj='SAMOCHÓD OSOBOWY', podrodzaj='KARETA (SEDAN)', przeznaczenie='---', pochodzenie='NOWY ZAKUPIONY W KRAJU', rodzaj_tab_znamionowej='ORYGINALNA', rok_produkcji='2018', sposob_produkcji='FABRYCZNY', data_pierwszej_rej='2018-11-27', data_rejestracji_ost=datetime.datetime(2018, 11, 27, 0, 0), data_pierwszej_rej_za_granica=None, pojemnosc_silnika=1950.0, moc_do_masy=None, moc_silnika=143.0, moc_silnika_hybrydowego=None, masa_wlasna=1685.0, masa_pgj=None, dopuszczalna_masa_calkowita=2245.0, maksymalna_masa_calkowita=2245.0, dopuszczalna_ladownosc_calk=None, maksymalna_ladownosc_calk=None, dopuszczalna_masa_ciag_zesp=4115.0, liczba_osi=2.0, naj_dopuszczalny_nacisk_osi=11.0, naj_maksymalny_nacisk_osi=11.0, max_masa_przyczepy_z_hamulcem=1800.0, max_masa_przyczepy_bez_ham=750.0, liczba_miejsc_ogolem=5.0, liczba_miejsc_siedzacych=5.0, liczba_miejsc_stojacych=None, rodzaj_paliwa='OLEJ NAPĘDOWY', rodzaj_paliwa_alternatywnego=None, rodzaj_paliwa_alternatywnego2=None, sr_zuzycie_pal=4.9, rodzaj_zawieszenia=None, radar=1282.0, hak='N', kierownica_polozenie=None, kierownica_z_prawej='N', katalizator='N', producent_podstawowy='DAIMLER AG', kod_ident=None, rozstaw_osi_kierowanej=None, rozstaw_kol_max=1577.0, rozstaw_kol_sred=1556.0, rozstaw_kol_min=1536.0, emisja_co2_redukcja=None, wersja_rpp=None, kod_rpp=None, data_wyrejestrowania=None, przyczyna_wyrejestrowania=None, data_wprowadzenia_danych=None, akt_miejsce_rej_wojwe='ŁÓDZKIE', akt_miejsce_rej_powiat='ŁÓDŹ', akt_miejsce_rej_gmina='ŁÓDŹ-ŚRÓDMIEŚCIE', siedziba_wlasciciela_woj=None, siedziba_wlasciciela_pow=None, siedziba_wlasciciela_gmina=None, data_pierwszej_rej_w_kraju='2018-11-27', createtimestamp=datetime.datetime(2019, 3, 15, 0, 0), modifytimestamp=datetime.datetime(2019, 3, 15, 0, 0), siedziba_wlasciciela_woj_teryt=None, akt_miejsce_rej_wojew_teryt=10.0, emisja_co2=131.0, emisja_co2_pal_alternatywne1=None),
 Row(_c0=1, pojazd_id=14306757827657, marka='FORD', kategoria=None, typ=None, model='FIESTA', wariant=None, wersja=None, rodzaj='SAMOCHÓD OSOBOWY', podrodzaj='HATCHBACK', przeznaczenie='---', pochodzenie='UŻYW. ZAKUPIONY W KRAJU', rodzaj_tab_znamionowej='ORYGINALNA', rok_produkcji='1996', sposob_produkcji='SKŁADAK', data_pierwszej_rej='1996-09-13', data_rejestracji_ost=datetime.datetime(2006, 9, 1, 0, 0), data_pierwszej_rej_za_granica=None, pojemnosc_silnika=1598.0, moc_do_masy=None, moc_silnika=None, moc_silnika_hybrydowego=None, masa_wlasna=900.0, masa_pgj=None, dopuszczalna_masa_calkowita=1325.0, maksymalna_masa_calkowita=1325.0, dopuszczalna_ladownosc_calk=None, maksymalna_ladownosc_calk=None, dopuszczalna_masa_ciag_zesp=None, liczba_osi=2.0, naj_dopuszczalny_nacisk_osi=6.0, naj_maksymalny_nacisk_osi=6.0, max_masa_przyczepy_z_hamulcem=None, max_masa_przyczepy_bez_ham=None, liczba_miejsc_ogolem=5.0, liczba_miejsc_siedzacych=5.0, liczba_miejsc_stojacych=None, rodzaj_paliwa='BENZYNA', rodzaj_paliwa_alternatywnego=None, rodzaj_paliwa_alternatywnego2=None, sr_zuzycie_pal=None, rodzaj_zawieszenia=None, radar=None, hak='N', kierownica_polozenie=None, kierownica_z_prawej=None, katalizator='N', producent_podstawowy=None, kod_ident=None, rozstaw_osi_kierowanej=None, rozstaw_kol_max=None, rozstaw_kol_sred=None, rozstaw_kol_min=None, emisja_co2_redukcja=None, wersja_rpp=None, kod_rpp=None, data_wyrejestrowania='2008-04-08', przyczyna_wyrejestrowania='PRZEKAZANIE POJAZDU DO DEMONTAŻU', data_wprowadzenia_danych='2017-10-17', akt_miejsce_rej_wojwe='ŁÓDZKIE', akt_miejsce_rej_powiat='PABIANICKI', akt_miejsce_rej_gmina='PABIANICE', siedziba_wlasciciela_woj='ŁÓDZKIE', siedziba_wlasciciela_pow='PABIANICKI', siedziba_wlasciciela_gmina='PABIANICE', data_pierwszej_rej_w_kraju='1996-09-13', createtimestamp=datetime.datetime(2019, 3, 15, 0, 0), modifytimestamp=datetime.datetime(2019, 3, 15, 0, 0), siedziba_wlasciciela_woj_teryt='10.0', akt_miejsce_rej_wojew_teryt=10.0, emisja_co2=None, emisja_co2_pal_alternatywne1=None)]

In [5]:
%%time
big_df = big_df.withColumn("index", monotonically_increasing_id())
big_df.sort(big_df['index'].desc()).head(2)

Wall time: 1min 42s

##### Number of rows, columns:

In [6]:
%%time
big_df.count(), len(big_df.columns)

Wall time: 7.1 s

(13063687, 73)

##### Basic statistics:

In [7]:
%%time
big_df.describe().show(truncate=False, vertical=True)

-RECORD 0-----------------------------------------------------------
 summary                        | count
 _c0                            | 13063687
 pojazd_id                      | 13063687
 marka                          | 12027721
 kategoria                      | 4276366
 typ                            | 7946194
 model                          | 12711395
 wariant                        | 7951045
 wersja                         | 7951036
 rodzaj                         | 13009184
 podrodzaj                      | 12918427
 przeznaczenie                  | 12524454
 pochodzenie                    | 12510782
 rodzaj_tab_znamionowej         | 12510782
 rok_produkcji                  | 13011955
 sposob_produkcji               | 12565819
 data_pierwszej_rej             | 13053814
 pojemnosc_silnika              | 12074011
 moc_do_masy                    | 1128425
 moc_silnika                    | 9831770
 moc_silnika_hybrydowego        | 12679
 masa_wlasna                    | 12516821
 masa_pgj                       | 24218
 dopuszczalna_masa_calkowita    | 12525745
 maksymalna_masa_calkowita      | 8967135
 dopuszczalna_ladownosc_calk    | 4172136
 maksymalna_ladownosc_calk      | 178241
 dopuszczalna_masa_ciag_zesp    | 4952877
 liczba_osi                     | 11218124
 naj_dopuszczalny_nacisk_osi    | 10817168
 naj_maksymalny_nacisk_osi      | 10817168
 max_masa_przyczepy_z_hamulcem  | 7991446
 max_masa_przyczepy_bez_ham     | 7293715
 liczba_miejsc_ogolem           | 11669536
 liczba_miejsc_siedzacych       | 12087388
 liczba_miejsc_stojacych        | 698174
 rodzaj_paliwa                  | 9796774
 rodzaj_paliwa_alternatywnego   | 1777857
 rodzaj_paliwa_alternatywnego2  | 21249
 sr_zuzycie_pal                 | 1623992
 rodzaj_zawieszenia             | 64118
 radar                          | 1982664
 hak                            | 13063683
 kierownica_polozenie           | 354
 kierownica_z_prawej            | 1913419
 katalizator                    | 13063684
 producent_podstawowy           | 1021799
 kod_ident                      | 7951085
 rozstaw_osi_kierowanej         | 3
 rozstaw_kol_max                | 1365783
 rozstaw_kol_sred               | 1365972
 rozstaw_kol_min                | 1366715
 emisja_co2_redukcja            | 24
 wersja_rpp                     | 7951082
 kod_rpp                        | 7951085
 data_wyrejestrowania           | 2178839
 przyczyna_wyrejestrowania      | 1594703
 data_wprowadzenia_danych       | 2179104
 akt_miejsce_rej_wojwe          | 13063684
 akt_miejsce_rej_powiat         | 12516825
 akt_miejsce_rej_gmina          | 12516825
 siedziba_wlasciciela_woj       | 9811926
 siedziba_wlasciciela_pow       | 9829231
 siedziba_wlasciciela_gmina     | 9818412
 data_pierwszej_rej_w_kraju     | 13053794
 siedziba_wlasciciela_woj_teryt | 9811914
 akt_miejsce_rej_wojew_teryt    | 13063683
 emisja_co2                     | 1896989
 emisja_co2_pal_alternatywne1   | 941
 index                          | 13063687
-RECORD 1-----------------------------------------------------------
 summary                        | mean
 _c0                            | 2514994.947704197
 pojazd_id                      | 3.65230926897406E14
 marka                          | null
 kategoria                      | 1.2700038614505014E13
 typ                            | 3493401.780879557
 model                          | Infinity
 wariant                        | 3.0140577102078812E87
 wersja                         | Infinity
 rodzaj                         | null
 podrodzaj                      | null
 przeznaczenie                  | 56.64242424242424
 pochodzenie                    | null
 rodzaj_tab_znamionowej         | null
 rok_produkcji                  | 1997.5654761436924
 sposob_produkcji               | 2003.8242159378867
 data_pierwszej_rej             | null
 pojemnosc_silnika              | 1912.1054141030727
 moc_do_masy                    | 0.06070668861466187
 moc_silnika                    | 70.77181598633568
 moc_silnika_hybrydowego        | 57.09407839734998
 masa_wlasna                    | 1434.5402696099911
 masa_pgj                       | 2145.3421422082747
 dopuszczalna_masa_calkowita    | 2809.0686111684377
 maksymalna_masa_calkowita      | 3145.3274733791786
 dopuszczalna_ladownosc_calk    | 2669.7191697490207
 maksymalna_ladownosc_calk      | 6334.604400783209
 dopuszczalna_masa_ciag_zesp    | 4972.944034951807
 liczba_osi                     | 1.9163581183449212
 naj_dopuszczalny_nacisk_osi    | 16.04845057412439
 naj_maksymalny_nacisk_osi      | 16.04845242303716
 max_masa_przyczepy_z_hamulcem  | 1766.8055614716036
 max_masa_przyczepy_bez_ham     | 593.1072749620735
 liczba_miejsc_ogolem           | 4.516766133632048
 liczba_miejsc_siedzacych       | 4.399593857663873
 liczba_miejsc_stojacych        | 1.4180848900130913
 rodzaj_paliwa                  | 0.0
 rodzaj_paliwa_alternatywnego   | null
 rodzaj_paliwa_alternatywnego2  | null
 sr_zuzycie_pal                 | 5.713669205267013
 rodzaj_zawieszenia             | null
 radar                          | 1281.9857837737509
 hak                            | null
 kierownica_polozenie           | 4552.871794871795
 kierownica_z_prawej            | null
 katalizator                    | null
 producent_podstawowy           | null
 kod_ident                      | 3.9059766266615923E12
 rozstaw_osi_kierowanej         | 5.350013000001E12
 rozstaw_kol_max                | 1380.414428939297
 rozstaw_kol_sred               | 1549.9178409220688
 rozstaw_kol_min                | 1387.0765170500067
 emisja_co2_redukcja            | 15.458333333333334
 wersja_rpp                     | 6.874343139713564
 kod_rpp                        | 114584.51394293987
 data_wyrejestrowania           | 1599707.0
 przyczyna_wyrejestrowania      | null
 data_wprowadzenia_danych       | null
 akt_miejsce_rej_wojwe          | null
 akt_miejsce_rej_powiat         | null
 akt_miejsce_rej_gmina          | null
 siedziba_wlasciciela_woj       | null
 siedziba_wlasciciela_pow       | null
 siedziba_wlasciciela_gmina     | null
 data_pierwszej_rej_w_kraju     | null
 siedziba_wlasciciela_woj_teryt | 12.705228993178492
 akt_miejsce_rej_wojew_teryt    | 12.598510083259063
 emisja_co2                     | 135.78928064422092
 emisja_co2_pal_alternatywne1   | 138.12327311370882
 index                          | 1.5821489215714236E11
-RECORD 2-----------------------------------------------------------
 summary                        | stddev
 _c0                            | 1784088.7491784415
 pojazd_id                      | 1.3353968267422685E15
 marka                          | null
 kategoria                      | 3.5614476502395756E14
 typ                            | 1.1029683896525908E9
 model                          | NaN
 wariant                        | 3.094062073488646E89
 wersja                         | NaN
 rodzaj                         | null
 podrodzaj                      | null
 przeznaczenie                  | 188.3237337061212
 pochodzenie                    | null
 rodzaj_tab_znamionowej         | null
 rok_produkcji                  | 12.967968242953592
 sposob_produkcji               | 12.288385216236382
 data_pierwszej_rej             | null
 pojemnosc_silnika              | 1941.9304564868876
 moc_do_masy                    | 2.7206179966695063
 moc_silnika                    | 68.74269832900305
 moc_silnika_hybrydowego        | 34.872652260175165
 masa_wlasna                    | 1855.160758084425
 masa_pgj                       | 3409.7545093777385
 dopuszczalna_masa_calkowita    | 5280.302509549164
 maksymalna_masa_calkowita      | 6033.318756716936
 dopuszczalna_ladownosc_calk    | 6328.516509015896
 maksymalna_ladownosc_calk      | 10926.012955880604
 dopuszczalna_masa_ciag_zesp    | 8514.66076983755
 liczba_osi                     | 0.45368207812729816
 naj_dopuszczalny_nacisk_osi    | 56.89538093253264
 naj_maksymalny_nacisk_osi      | 56.89538058811775
 max_masa_przyczepy_z_hamulcem  | 3477.840479461186
 max_masa_przyczepy_bez_ham     | 2298.3023154457806
 liczba_miejsc_ogolem           | 5.338489061433812
 liczba_miejsc_siedzacych       | 4.019091961288992
 liczba_miejsc_stojacych        | 10.158748052005631
 rodzaj_paliwa                  | NaN
 rodzaj_paliwa_alternatywnego   | null
 rodzaj_paliwa_alternatywnego2  | null
 sr_zuzycie_pal                 | 5.9569444687938615
 rodzaj_zawieszenia             | null
 radar                          | 0.16753795558058607
 hak                            | null
 kierownica_polozenie           | 580.5364446066101
 kierownica_z_prawej            | null
 katalizator                    | null
 producent_podstawowy           | null
 kod_ident                      | 7.825429756037736E12
 rozstaw_osi_kierowanej         | 0.0
 rozstaw_kol_max                | 3644.857488892431
 rozstaw_kol_sred               | 22988.553871136035
 rozstaw_kol_min                | 7568.882448792321
 emisja_co2_redukcja            | 34.11869201665762
 wersja_rpp                     | 3.5336722209433282
 kod_rpp                        | 239362.98653249932
 data_wyrejestrowania           | 0.0
 przyczyna_wyrejestrowania      | null
 data_wprowadzenia_danych       | null
 akt_miejsce_rej_wojwe          | null
 akt_miejsce_rej_powiat         | null
 akt_miejsce_rej_gmina          | null
 siedziba_wlasciciela_woj       | null
 siedziba_wlasciciela_pow       | null
 siedziba_wlasciciela_gmina     | null
 data_pierwszej_rej_w_kraju     | null
 siedziba_wlasciciela_woj_teryt | 2.371406841259099
 akt_miejsce_rej_wojew_teryt    | 1.6063177616980568
 emisja_co2                     | 102.61268006387249
 emisja_co2_pal_alternatywne1   | 16.823226735260032
 index                          | 9.34146912562346E10
-RECORD 3-----------------------------------------------------------
 summary                        | min
 _c0                            | 0
 pojazd_id                      | 2233634
 marka                          | "Z.M.WZGS""SCH"" OPOLE-KLUCZBORK"
 kategoria                      | 0.0
 typ                            |  4X2
 model                          |  4 501 AL.
 wariant                        | """J"""
 wersja                         | """F""XDS"
 rodzaj                         | AUTOBUS
 podrodzaj                      | ---
 przeznaczenie                  | ---
 pochodzenie                    | ---
 rodzaj_tab_znamionowej         | NIEOKRESLONA
 rok_produkcji                  | 1000
 sposob_produkcji               | 1084
 data_pierwszej_rej             | 1076-10-04
 pojemnosc_silnika              | 0.0
 moc_do_masy                    | 0.0
 moc_silnika                    | 0.0
 moc_silnika_hybrydowego        | 0.9
 masa_wlasna                    | 0.0
 masa_pgj                       | 1.0
 dopuszczalna_masa_calkowita    | 0.0
 maksymalna_masa_calkowita      | 0.0
 dopuszczalna_ladownosc_calk    | -10.0
 maksymalna_ladownosc_calk      | 0.0
 dopuszczalna_masa_ciag_zesp    | 0.0
 liczba_osi                     | 0.0
 naj_dopuszczalny_nacisk_osi    | 0.0
 naj_maksymalny_nacisk_osi      | 0.0
 max_masa_przyczepy_z_hamulcem  | 0.0
 max_masa_przyczepy_bez_ham     | 0.0
 liczba_miejsc_ogolem           | 0.0
 liczba_miejsc_siedzacych       | 0.0
 liczba_miejsc_stojacych        | 0.0
 rodzaj_paliwa                  | 0.0
 rodzaj_paliwa_alternatywnego   | BENZYNA
 rodzaj_paliwa_alternatywnego2  | BIODIESEL
 sr_zuzycie_pal                 | 0.0
 rodzaj_zawieszenia             | INNE
 radar                          | 1280.0
 hak                            | B
 kierownica_polozenie           | 4635.0
 kierownica_z_prawej            | N
 katalizator                    | B
 producent_podstawowy           | """BAUTEX"""
 kod_ident                      |  MAGDALENA GUZOWSKA"
 rozstaw_osi_kierowanej         | 5.350013000001E12
 rozstaw_kol_max                | 0.0
 rozstaw_kol_sred               | 0.0
 rozstaw_kol_min                | 0.0
 emisja_co2_redukcja            | 4.0
 wersja_rpp                     | 1.0
 kod_rpp                        | 1.0
 data_wyrejestrowania           | 1599707.0
 przyczyna_wyrejestrowania      | 2006-11-23
 data_wprowadzenia_danych       | 2017-10-17
 akt_miejsce_rej_wojwe          | 2017-10-17
 akt_miejsce_rej_powiat         | BEŁCHATOWSKI
 akt_miejsce_rej_gmina          | BEMOWO
 siedziba_wlasciciela_woj       | AAA
 siedziba_wlasciciela_pow       | AAA
 siedziba_wlasciciela_gmina     | AAA
 data_pierwszej_rej_w_kraju     | 1076-10-04
 siedziba_wlasciciela_woj_teryt | 0.0
 akt_miejsce_rej_wojew_teryt    | 10.0
 emisja_co2                     | 0.0
 emisja_co2_pal_alternatywne1   | 96.0
 index                          | 0
-RECORD 4-----------------------------------------------------------
 summary                        | max
 _c0                            | 6753093
 pojazd_id                      | 9007159865932395
 marka                          | ŻUBR
 kategoria                      | 1.0000000000000012E16
 typ                            | ZZW18
 model                          | ╗UK A176
 wariant                        | ZZT251(W)
 wersja                         | ZZT251L-AWPGKW(1E)
 rodzaj                         | TROLEJBUS
 podrodzaj                      | ŚRED.ŁADOW.
 przeznaczenie                  | ŻURAW SAMOCHODOWY
 pochodzenie                    | ZMIANA WŁAŚCIWOŚCI URZĘDU
 rodzaj_tab_znamionowej         | ZASTĘPCZA
 rok_produkcji                  | ZABYTKOWY
 sposob_produkcji               | ZABYTKOWY
 data_pierwszej_rej             | FABRYCZNY
 pojemnosc_silnika              | 99973.0
 moc_do_masy                    | 1781.0
 moc_silnika                    | 12902.0
 moc_silnika_hybrydowego        | 999.0
 masa_wlasna                    | 911940.0
 masa_pgj                       | 105535.0
 dopuszczalna_masa_calkowita    | 920920.0
 maksymalna_masa_calkowita      | 920550.0
 dopuszczalna_ladownosc_calk    | 911000.0
 maksymalna_ladownosc_calk      | 287007.0
 dopuszczalna_masa_ciag_zesp    | 945091.0
 liczba_osi                     | 79.0
 naj_dopuszczalny_nacisk_osi    | 30000.0
 naj_maksymalny_nacisk_osi      | 30000.0
 max_masa_przyczepy_z_hamulcem  | 985645.0
 max_masa_przyczepy_bez_ham     | 775050.0
 liczba_miejsc_ogolem           | 999.0
 liczba_miejsc_siedzacych       | 999.0
 liczba_miejsc_stojacych        | 985.0
 rodzaj_paliwa                  | WODÓR
 rodzaj_paliwa_alternatywnego   | WODÓR
 rodzaj_paliwa_alternatywnego2  | WODÓR
 sr_zuzycie_pal                 | 6080.0
 rodzaj_zawieszenia             | RÓWNOWAŻNE Z PNEUMATYCZNYM
 radar                          | 1282.0
 hak                            | T
 kierownica_polozenie           | T
 kierownica_z_prawej            | T
 katalizator                    | T
 producent_podstawowy           | „STIM” MAŁECKI SPÓŁKA JAWNA
 kod_ident                      | 99991215900038.0
 rozstaw_osi_kierowanej         | 5.350013000001E12
 rozstaw_kol_max                | 2589258.0
 rozstaw_kol_sred               | 8961559.0
 rozstaw_kol_min                | 5025828.0
 emisja_co2_redukcja            | 132.0
 wersja_rpp                     | 9.0
 kod_rpp                        | 1699000.0
 data_wyrejestrowania           | 2019-04-19
 przyczyna_wyrejestrowania      | ZNISZCZENIE POJAZDU ZA GRANICĄ
 data_wprowadzenia_danych       | PRZEKAZANIE POJAZDU DO DEMONTAŻU
 akt_miejsce_rej_wojwe          | ŁÓDZKIE
 akt_miejsce_rej_powiat         | ŻYRARDOWSKI
 akt_miejsce_rej_gmina          | ŻYRARDÓW
 siedziba_wlasciciela_woj       | ŚWIĘTOKRZYSKIE
 siedziba_wlasciciela_pow       | ŻYWIECKI
 siedziba_wlasciciela_gmina     | ŻÓŁKIEWKA
 data_pierwszej_rej_w_kraju     | URSYNÓW
 siedziba_wlasciciela_woj_teryt | 8.0
 akt_miejsce_rej_wojew_teryt    | 14.0
 emisja_co2                     | 121067.0
 emisja_co2_pal_alternatywne1   | 163.0
 index                          | 317827797393

Wall time: 6min 38s

##### Conditinal statements:

In [8]:
%%time
big_df.filter((big_df["marka"] == "TOYOTA") | (big_df["marka"] == "FORD")).filter(big_df["emisja_co2"] < 100).show(2, truncate=False, vertical=True)

-RECORD 0---------------------------------------------------
 _c0                            | 868
 pojazd_id                      | 51955064994346
 marka                          | TOYOTA
 kategoria                      | 13.0
 typ                            | XW3(A)
 model                          | PRIUS
 wariant                        | ZVW30(H)
 wersja                         | ZVW30L-AHXEBW(2C)
 rodzaj                         | SAMOCHÓD OSOBOWY
 podrodzaj                      | HATCHBACK
 przeznaczenie                  | ---
 pochodzenie                    | NOWY ZAKUPIONY W KRAJU
 rodzaj_tab_znamionowej         | ORYGINALNA
 rok_produkcji                  | 2011
 sposob_produkcji               | FABRYCZNY
 data_pierwszej_rej             | 2012-01-13
 data_rejestracji_ost           | 2012-01-13 00:00:00
 data_pierwszej_rej_za_granica  | null
 pojemnosc_silnika              | 1798.0
 moc_do_masy                    | null
 moc_silnika                    | 73.0
 moc_silnika_hybrydowego        | null
 masa_wlasna                    | 1410.0
 masa_pgj                       | null
 dopuszczalna_masa_calkowita    | 1805.0
 maksymalna_masa_calkowita      | 1805.0
 dopuszczalna_ladownosc_calk    | null
 maksymalna_ladownosc_calk      | null
 dopuszczalna_masa_ciag_zesp    | 1805.0
 liczba_osi                     | 2.0
 naj_dopuszczalny_nacisk_osi    | 10.0
 naj_maksymalny_nacisk_osi      | 10.0
 max_masa_przyczepy_z_hamulcem  | null
 max_masa_przyczepy_bez_ham     | null
 liczba_miejsc_ogolem           | 5.0
 liczba_miejsc_siedzacych       | 5.0
 liczba_miejsc_stojacych        | null
 rodzaj_paliwa                  | BENZYNA
 rodzaj_paliwa_alternatywnego   | null
 rodzaj_paliwa_alternatywnego2  | null
 sr_zuzycie_pal                 | 3.9
 rodzaj_zawieszenia             | null
 radar                          | 1282.0
 hak                            | N
 kierownica_polozenie           | null
 kierownica_z_prawej            | null
 katalizator                    | T
 producent_podstawowy           | null
 kod_ident                      | 2650028000016.0
 rozstaw_osi_kierowanej         | null
 rozstaw_kol_max                | 1525.0
 rozstaw_kol_sred               | 1522.0
 rozstaw_kol_min                | 1520.0
 emisja_co2_redukcja            | null
 wersja_rpp                     | 1.0
 kod_rpp                        | 302000.0
 data_wyrejestrowania           | null
 przyczyna_wyrejestrowania      | null
 data_wprowadzenia_danych       | null
 akt_miejsce_rej_wojwe          | ŁÓDZKIE
 akt_miejsce_rej_powiat         | ŁÓDŹ
 akt_miejsce_rej_gmina          | ŁÓDŹ-ŚRÓDMIEŚCIE
 siedziba_wlasciciela_woj       | ŁÓDZKIE
 siedziba_wlasciciela_pow       | ŁÓDŹ
 siedziba_wlasciciela_gmina     | ŁÓDŹ
 data_pierwszej_rej_w_kraju     | 2012-01-13
 createtimestamp                | 2019-03-15 00:00:00
 modifytimestamp                | 2019-03-15 00:00:00
 siedziba_wlasciciela_woj_teryt | 10.0
 akt_miejsce_rej_wojew_teryt    | 10.0
 emisja_co2                     | 89.0
 emisja_co2_pal_alternatywne1   | null
 index                          | 868
-RECORD 1---------------------------------------------------
 _c0                            | 1620
 pojazd_id                      | 4125588963370607
 marka                          | TOYOTA
 kategoria                      | 13.0
 typ                            | XP13M(A)
 model                          | YARIS
 wariant                        | KSP13(MH)
 wersja                         | KSP130L-CHMRKW(3L)
 rodzaj                         | SAMOCHÓD OSOBOWY
 podrodzaj                      | WIELOZADANIOWY
 przeznaczenie                  | ---
 pochodzenie                    | NOWY ZAKUPIONY W KRAJU
 rodzaj_tab_znamionowej         | ORYGINALNA
 rok_produkcji                  | 2017
 sposob_produkcji               | FABRYCZNY
 data_pierwszej_rej             | 2018-05-29
 data_rejestracji_ost           | 2018-05-29 00:00:00
 data_pierwszej_rej_za_granica  | null
 pojemnosc_silnika              | 998.0
 moc_do_masy                    | null
 moc_silnika                    | 51.0
 moc_silnika_hybrydowego        | null
 masa_wlasna                    | 980.0
 masa_pgj                       | null
 dopuszczalna_masa_calkowita    | 1450.0
 maksymalna_masa_calkowita      | 1450.0
 dopuszczalna_ladownosc_calk    | null
 maksymalna_ladownosc_calk      | null
 dopuszczalna_masa_ciag_zesp    | 2180.0
 liczba_osi                     | 2.0
 naj_dopuszczalny_nacisk_osi    | null
 naj_maksymalny_nacisk_osi      | null
 max_masa_przyczepy_z_hamulcem  | 730.0
 max_masa_przyczepy_bez_ham     | 520.0
 liczba_miejsc_ogolem           | 5.0
 liczba_miejsc_siedzacych       | 5.0
 liczba_miejsc_stojacych        | null
 rodzaj_paliwa                  | BENZYNA
 rodzaj_paliwa_alternatywnego   | null
 rodzaj_paliwa_alternatywnego2  | null
 sr_zuzycie_pal                 | 4.3
 rodzaj_zawieszenia             | null
 radar                          | 1282.0
 hak                            | N
 kierownica_polozenie           | null
 kierownica_z_prawej            | N
 katalizator                    | N
 producent_podstawowy           | TOYOTA MOTOR EUROPE NV/SA
 kod_ident                      | 2650000001167.0
 rozstaw_osi_kierowanej         | null
 rozstaw_kol_max                | 1460.0
 rozstaw_kol_sred               | 1467.0
 rozstaw_kol_min                | 1475.0
 emisja_co2_redukcja            | null
 wersja_rpp                     | 1.0
 kod_rpp                        | 306000.0
 data_wyrejestrowania           | null
 przyczyna_wyrejestrowania      | null
 data_wprowadzenia_danych       | null
 akt_miejsce_rej_wojwe          | ŁÓDZKIE
 akt_miejsce_rej_powiat         | ŁÓDŹ
 akt_miejsce_rej_gmina          | ŁÓDŹ-ŚRÓDMIEŚCIE
 siedziba_wlasciciela_woj       | null
 siedziba_wlasciciela_pow       | null
 siedziba_wlasciciela_gmina     | null
 data_pierwszej_rej_w_kraju     | 2018-05-29
 createtimestamp                | 2019-03-15 00:00:00
 modifytimestamp                | 2019-03-15 00:00:00
 siedziba_wlasciciela_woj_teryt | null
 akt_miejsce_rej_wojew_teryt    | 10.0
 emisja_co2                     | 99.0
 emisja_co2_pal_alternatywne1   | null
 index                          | 1620
only showing top 2 rows

Wall time: 376 ms

##### Aggregations:

In [9]:
%%time
big_df.groupby("rodzaj").agg(F.count("rodzaj")).show(5)

+--------------------+-------------+
|              rodzaj|count(rodzaj)|
+--------------------+-------------+
|SAMOCHÓD CIĘŻAROW...|         5575|
|SAMOCHODY CIĘŻARO...|            1|
|PRZYCZ.SPECJALIZO...|        10496|
|PRZYCZEPA AUTOBUSOWA|           66|
|SAM.CIĘŻ.UNIWERSALNY|           10|
+--------------------+-------------+
only showing top 5 rows

Wall time: 24.1 s

In [10]:
%reset -f

# 5. Summary

Let's start from creating a summary table to see the times for each process:

In [14]:
import pandas as pd

times = {
    'pandas':["43.4s", "0ns", "0ns", "8.47s", "692ms", "5.27s", "9min18s", "8.97ms", "0ns", "31.7s", "2.24s", "44.8s"],
    'dask':["67.8ms", "527ms", "25.8s", "1min 36s", "1.6s", "30s", "166ms" ,"1.96s" ,"1min45s" ,"error" , "2.46s", "2min 1s"],
    'spark':["4.23s* + 12.5s", "27.2s", "2.99s", "1min 28s", "298ms", "9.33s", "4.11s* + 1min 44s", "1min 42s", "7.1s", "6min 38s", "376ms", "24.1s"]
}

index = ['medium_read', 'medium_tail', 'medium_shape', 'medium_stats', 'medium_filter', 'medium_aggregation', 'big_read', 'big_tail', 'big_shape', 'big_stats', 'big_filter', 'big_aggregation']
time_df = pd.DataFrame.from_dict(times)
time_df.index = index
time_df

                     pandas      dask              spark
medium_read           43.4s    67.8ms     4.23s* + 12.5s
medium_tail             0ns     527ms              27.2s
medium_shape            0ns     25.8s              2.99s
medium_stats          8.47s  1min 36s           1min 28s
medium_filter         692ms      1.6s              298ms
medium_aggregation    5.27s       30s              9.33s
big_read            9min18s     166ms  4.11s* + 1min 44s
big_tail             8.97ms     1.96s           1min 42s
big_shape               0ns   1min45s               7.1s
big_stats             31.7s     error           6min 38s
big_filter            2.24s     2.46s              376ms
big_aggregation       44.8s   2min 1s              24.1s

In [25]:
times = {
    "pandas":["57.83s", "636,75s"],
    "dask":["153,99s", "230,59s**"],
    "spark":["144,55s", "639,69s"]
}

index = ['medium_total', 'big_total']
time_df = pd.DataFrame.from_dict(times)
time_df.index = index
time_df

               pandas       dask    spark
medium_total   57.83s    153,99s  144,55s
big_total     636,75s  230,59s**  639,69s

** dask had an error in basic statistics process.

So we can see that __Pandas__ works by reading the whole dataset to the memory and then it's able to do any analitics you need in a very short time<br>(general statistics take the most time to process).

__Dask__ and __Spark__ use __lazy evaluation__, which means that the execution will not start until an action is triggered.<br>It is a better solution if you know exactly what you need and what specific queries you want to use like shape of the dataset and data filtering.

If you had to know the statistic for the datasets you would have to choose between __Pandas__ and __Spark__, as __Dask__ threw an error on the big dataset.<br>Also you have to remember that in some cases you will not be able to import > 4GB data into __Pandas__ (it occured on our machine few times as well!),<br>it depends on memory usage (eventually you can read the files in batches and process data on the fly).

To sum up, if you’re working with small datasets or exploring a asample of a larged dataset by doing some computations then __Pandas__ is the right choice,<br>but when the data you're working with grows a bit more, then you should think about parallelism. 

__Dask__ will be the preferable choice when you want to stick to __Pandas__ environment and commands. 

When you want to use advance SQL queries, we strongly recommend you to integrate your data analitics pipeline with the cloud computing<br>analitics platform like __Databricks__ and really boost your computing speed by creating clusters of machines to execute your processes.<br>
Then use __Spark__ as it is an all-in-one solution and ["achieves high performance for both batch and streaming data, using a state-of-the-art DAG scheduler, a query optimizer, and a physical execution engine"](https://spark.apache.org/).<br>You will of course need to get use to a different data visualization (as seen in our example) but it's not that difficult :)